 body{
    font-family: "Google sans";
    background: rgb(215, 215, 215);
 }
 
 .main_affichage{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
    }
    #discipline{
        height: 90vh;
        width: 35vw;
        background-color: rgb(255, 255, 255);
        display: flex;
        border-radius: 8px;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }

    #activity{
        border: 2px solid grey;
        width: 30vw;
        padding: 6px;
        margin: 8px 0;
        display: flex;
        border-radius: 6px;
    }

    #box{
        flex-grow: 1;
        font-size: 2px;
        gap:4px;
        border: none;
        outline: none;
    }

    #effort{
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        height: 90vh;
        width: 60vw;
    }
    #exporter{
        font-size: 20px;
        margin-top: auto;
        margin-bottom: 10px;
        width: 80%;
        padding: 20px;
        cursor: pointer;
        color:green;
        background-color: rgba(0, 128, 0, 0);
        border: 2px solid green;
        transition: .3s;
        border-radius:30px;
    }

    #exporter:hover{
        background-color: green;
        border-radius: 50px;
        color: white;
    }

    #add_activity{
        padding: 10px;
        margin: 10px;
        font-size: 15px;
        color:white;
        border-radius: 20px;
        background-color: rgb(0,0,0,0.5);
    }
    #add_activity:active{
        color:rgb(255,255,255,0.6);
        background-color: rgb(0,0,0,0.3);
    }